RewriteEngine on
RewriteCond %{HTTP_HOST} ^(mozhunt\.com)(:80)? [NC]
RewriteRule ^(.*) http://www.mozhunt.com/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+) index.php?$1 [L]